*{
    margin: 0;
    padding: 0;
}

/* ESTILO PARA EL BODY EN GRAL */
body{
    font-family: 'Abel', sans-serif;
    background: #f0f5f5;
}


/* DEFINIENDO LA GRILLA  */
.container{
    display: grid;

    grid-template-areas: "header header header"
                         "navbar navbar navbar"
                         "noticias noticias sidebar"
                         "noticias noticias sidebar"
                         "footer footer footer";
    width: 95%;
    margin: auto;
}


/*  Contenedor historia */
.container-historia{
    display: grid;

    grid-template-areas: "header header header"
                         "navbar navbar navbar"
                         "historia historia sidebar"
                         "historia historia sidebar"
                         "footer footer footer";
    width: 95%;
    margin: auto;
}

/* DEFINIENDO EL ENCABEZADO*/
.container-historia > .footer,
.container-historia > .header,
.container > .footer,
.container > .header
{
    background: #669999;
    padding: 20px;

}

.container-historia > header,
.container > .header{
    background: #11aaaa;
    grid-area: header;

    display: grid;
    grid-template-areas: "logo eslogan  eslogan redes"
}

.container-historia > .header > .logo,
.container > .header > .logo{
    grid-area: logo;
    max-width: 280px; 
    border-right: 2px solid #000000;
    margin-right: 10px; 
}

.container-historia > .header > .logo > img,
.container > .header > .logo > img{
    max-width: 250px;
}

.container-historia > .header > .eslogan,
.container > .header > .eslogan{
    grid-area: eslogan;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container-historia > .header > .redes,
.container > .header > .redes{
    grid-area: redes;
    text-align: center;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-historia > .header > .redes > a,
.container > .header > .redes > a{
    padding: 5px;
    margin: 10px;
    
}


/*Definiendo el menu de navegacion*/
.container-historia > .main-menu,
.container > .main-menu{
    grid-area: navbar;

    margin-bottom: 10px;
    background: #006699;
    
    /*  Usamos flex para alinear el contenido del menu  */
    display: flex;
    justify-content: center;
}

.container-historia > .main-menu > ul > li,
.container > .main-menu > ul > li{
    list-style: none;
    padding: 5px;
    float: left;
    
}

.container-historia >.main-menu > ul > li > a,
.container >.main-menu > ul > li > a{
    text-decoration: none;
    color: #000000;
    padding: 5px;
    font-size: 20px;
}

.container-historia >.main-menu > ul > li > a:hover,
.container >.main-menu > ul > li > a:hover{
    border-bottom: 2px solid #000000;
    color: #fff;
}


/* DEFINIENDO NOTICIAS */
.container > .noticias{
    grid-area: noticias;
}

.container > .noticias > .noticia1, .noticia2, .noticia3{
    display: grid;
    grid-template-areas: "imagen contenido";
    padding: 10px;
}

.container > .noticias > .noticia1 > .noticia1-contenido,
.container > .noticias > .noticia2 > .noticia2-contenido,
.container > .noticias > .noticia3 > .noticia3-contenido{
    grid-area: contenido;
    margin-left: 10px;
    margin-right: 10px;
}


.container > .noticias > .noticia1 > .noticia1-img,
.container > .noticias > .noticia2 > .noticia2-img, 
.container > .noticias > .noticia3 > .noticia3-img {
    grid-area: imagen;
    width: 200px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.container > .noticias > .noticia1 > .noticia1-img > img,
.container > .noticias > .noticia2 > .noticia2-img > img, 
.container > .noticias > .noticia3 > .noticia3-img > img{
    width: 200px;
    height: 150px;
    
}

.container > .noticias > .noticia1 > .noticia1-contenido > a,
.container > .noticias > .noticia2 > .noticia2-contenido > a,
.container > .noticias > .noticia3 > .noticia3-contenido > a{
    text-decoration: none;
}


/* DEFINIENDO EL SIDEBAR */
.container-historia > .sidebar
.container > .sidebar {
    grid-area: sidebar;
    max-width: 300px;

    border-left: 2px solid gray;
    padding-left: 5px;
    
    margin-bottom: 5px;


}


.container-historia > .sidebar > .archivo .art1
.container > .sidebar > .archivo .art1{
    display: grid;
    grid-template-areas: "img titulo";

    border-bottom: 1px solid grey;
}

.container-historia > .sidebar > .archivo > .art1 > .img-art1, .img-art2, .img-art3, .img-art4,
.container > .sidebar > .archivo > .art1 > .img-art1, .img-art2, .img-art3, .img-art4{
    grid-area: img;
    padding: 5px;
}

.img-art1 > img,
.img-art2 > img,
.img-art3 > img,
.img-art4 > img{
    max-width: 80px;

}


.container > .sidebar > .archivo > .art1, .art2, .art3, .art4 > h4{
    grid-area: titulo;

}


.container > .sidebar > .archivo .art2{
    display: grid;
    grid-template-areas: "img titulo";
    border-bottom: 1px solid grey;
}


.container > .sidebar > .archivo .art3{
    display: grid;
    grid-template-areas: "img titulo";
    border-bottom: 1px solid grey;
}

.container > .sidebar > .archivo .art4{
    display: grid;
    grid-template-areas: "img titulo";
}

.container > .sidebar > .linksSidebar{
    text-align: center;
    margin-top: 10px;
    border-top: 2px solid gray;
    padding-top: 5px;
}

.container > .sidebar > .linksSidebar img{
    max-width: 250px;   
}


/* DEFINIENDO EL FOOTER */
.container > .footer{
    grid-area: footer;
    background: #669999;
    padding: 20px;
    text-align: center;
}


/*  DEFINIENDO EL ESTILO PARA EL PAGINA DE HISTORIA */

.container-historia > .container-content{
    grid-area: historia;
    width: 95%;
    margin: auto;
}